img {
    width: 100px;
    height: 100px;
}

#collapsibleNavbar a:hover {
    text-decoration: underline;
}

.table {
    width: 700px;
}

.table {
    background-color: darkgray;
}

.table {
    color: white;
}

.nav-link {
    font-size: 2rem;
}